:root {
  --primary: transparent;
  --primary-text: #ffffff;
  --secondary: #1d99ff;
  --secondary-text: #ffffff;
  --accent: transparent;
  --accent-text: #ffffff;
  margin-top: 10%;
  
}
.sc-jSgvzq.iTXcWz{
  display:none;
  }
  .sc-crrszt.gmGhdP{
    display:none;
    }

  .sc-fFucqa.fA-dvrP{
    display:none;
    }

